
#u7980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u7980 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:280px;
  width:162px;
  height:40px;
  text-align:center;
}
#u7981 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u7982 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:280px;
  width:162px;
  height:40px;
  text-align:center;
}
#u7983 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:40px;
}
#u7984 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:280px;
  width:236px;
  height:40px;
  text-align:center;
}
#u7985 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u7986 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:280px;
  width:162px;
  height:40px;
  text-align:center;
}
#u7987 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u7988 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:280px;
  width:162px;
  height:40px;
  text-align:center;
}
#u7989 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u7990 {
  border-width:0px;
  position:absolute;
  left:1297px;
  top:280px;
  width:162px;
  height:40px;
  text-align:center;
}
#u7991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u7992 {
  border-width:0px;
  position:absolute;
  left:1459px;
  top:280px;
  width:162px;
  height:40px;
  text-align:center;
}
#u7993 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u7994 {
  border-width:0px;
  position:absolute;
  left:1621px;
  top:280px;
  width:162px;
  height:40px;
  text-align:center;
}
#u7995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7996 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:145px;
  width:66px;
  height:19px;
}
#u7997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7998 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:145px;
  width:40px;
  height:19px;
}
#u7999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8000 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:138px;
  width:221px;
  height:32px;
}
#u8000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8000_input:disabled {
  color:grayText;
}
#u8001 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:138px;
  width:210px;
  height:32px;
}
#u8001_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u8002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:38px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8002 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:136px;
  width:76px;
  height:38px;
}
#u8003 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u8004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1779px;
  height:52px;
}
#u8004 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:538px;
  width:1779px;
  height:52px;
}
#u8005 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:1775px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8006 {
  border-width:0px;
  position:absolute;
  left:1552px;
  top:184px;
  width:27px;
  height:19px;
  font-size:13px;
}
#u8007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8008 {
  border-width:0px;
  position:absolute;
  left:1829px;
  top:184px;
  width:40px;
  height:19px;
  font-size:13px;
}
#u8009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8010 {
  border-width:0px;
  position:absolute;
  left:1479px;
  top:184px;
  width:66px;
  height:19px;
  font-size:13px;
}
#u8011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u8012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8012 {
  border-width:0px;
  position:absolute;
  left:1579px;
  top:171px;
  width:32px;
  height:32px;
}
#u8013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8014 {
  border-width:0px;
  position:absolute;
  left:1870px;
  top:171px;
  width:32px;
  height:32px;
}
#u8015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:36px;
}
#u8016 {
  border-width:0px;
  position:absolute;
  left:1595px;
  top:167px;
  width:16px;
  height:36px;
}
#u8017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8018 {
  border-width:0px;
  position:absolute;
  left:1735px;
  top:184px;
  width:53px;
  height:19px;
  font-size:13px;
}
#u8019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8020 {
  border-width:0px;
  position:absolute;
  left:1787px;
  top:171px;
  width:32px;
  height:32px;
}
#u8021 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8022 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:184px;
  width:53px;
  height:19px;
  font-size:13px;
}
#u8023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8024 {
  border-width:0px;
  position:absolute;
  left:1682px;
  top:171px;
  width:32px;
  height:32px;
}
#u8025 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:103px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8026 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:103px;
  width:90px;
  height:103px;
  color:#FFFFFF;
}
#u8027 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  word-wrap:break-word;
}
#u8026_ann {
  border-width:0px;
  position:absolute;
  left:199px;
  top:99px;
  width:1px;
  height:1px;
}
#u8028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:976px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.666666666666667);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:976px;
}
#u8029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:480px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8030 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:213px;
  width:1120px;
  height:762px;
  overflow:hidden;
}
#u8030_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:762px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u8030_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8031 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:13px;
  width:32px;
  height:32px;
}
#u8032 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:365px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:365px;
}
#u8034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:174px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:40px;
  background:inherit;
  background-color:rgba(82, 185, 235, 0.349019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:40px;
}
#u8036 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8037 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:4px;
  width:32px;
  height:32px;
}
#u8038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8037_ann {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:0px;
  width:1px;
  height:1px;
}
#u8039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u8039 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:79px;
  height:19px;
  font-size:13px;
  color:#000000;
}
#u8040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u8041 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:45px;
  width:1070px;
  height:225px;
}
#u8042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:40px;
}
#u8042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:40px;
  text-align:right;
}
#u8043 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:230px;
  word-wrap:break-word;
}
#u8044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:40px;
}
#u8044 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:0px;
  width:831px;
  height:40px;
  color:#000000;
}
#u8045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:827px;
  word-wrap:break-word;
}
#u8046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:128px;
}
#u8046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:234px;
  height:128px;
  color:#000000;
  text-align:right;
}
#u8047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:230px;
  word-wrap:break-word;
}
#u8048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:128px;
}
#u8048 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:40px;
  width:831px;
  height:128px;
  color:#000000;
  text-align:left;
}
#u8049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:827px;
  word-wrap:break-word;
}
#u8050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:52px;
}
#u8050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:234px;
  height:52px;
  text-align:right;
}
#u8051 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:230px;
  word-wrap:break-word;
}
#u8052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:52px;
}
#u8052 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:168px;
  width:831px;
  height:52px;
  color:#000000;
  text-align:left;
}
#u8053 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:827px;
  word-wrap:break-word;
}
#u8054 {
  position:absolute;
  left:1576px;
  top:42px;
  visibility:hidden;
}
#u8054_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:344px;
  height:184px;
  background-image:none;
}
#u8054_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
}
#u8055 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:25px;
  height:11px;
}
#u8056 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:174px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 241, 253, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:344px;
  height:174px;
}
#u8058 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:79px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8059 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:19px;
  width:324px;
  height:80px;
  color:#999999;
}
#u8060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u8061 {
  border-width:0px;
  position:absolute;
  left:1712px;
  top:15px;
  width:48px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8062 {
  border-width:0px;
  position:absolute;
  left:1769px;
  top:18px;
  width:48px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
